<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ArticleMapper">

	<resultMap type="Article" id="ArticleResultMap">
		<id column="ARTICLE_ID" property="ARTICLE_ID"/>
		<result column="CATEGORY" property="CATEGORY"/>
		<result column="AUTHOR" property="AUTHOR"/>
		<result column="TITLE" property="TITLE"/>
		<result column="CONTENT" property="CONTENT"/>
		<result column="LAST_EDIT" property="LAST_EDIT"/>
		<result column="STATUS" property="STATUS"/>
	</resultMap>
	
	<!--表名 -->
	<sql id="tableName">
		ARTICLE
	</sql>

	<!-- 字段 -->
	<sql id="Field">
		ARTICLE_ID,
		CATEGORY,
		AUTHOR,
		TITLE,
		CONTENT,
		LAST_EDIT,
		STATUS
	</sql>
	
	<!-- 字段值 -->
	<sql id="FieldValue">
		#{ARTICLE_ID},
		#{CATEGORY},
		#{AUTHOR},
		#{TITLE},
		#{CONTENT},
		#{LAST_EDIT},
		#{STATUS}
	</sql>
	
	<!-- 根据文章 ID 获取文章内容-->
	<select id="getArticleByID" parameterType="pd" resultType="pd">
		select <include refid="Field"></include> from
		<include refid="tableName"></include>
		where ARTICLE_ID = #{ARTICLE_ID}
	</select>
	
	<!-- 列出某分类下的所有文章 -->
	<select id="articlelistPageByCategory"  parameterType="page" resultType="pd" >
        select
			<include refid="Field"></include>
		from
        	<include refid="tableName"></include>
		where
			CATEGORY = #{pd.CATEGORY}

			<if test="pd.keywords!= null and pd.keywords != ''">		<!-- 关键词检索 -->
				and
				(
					TITLE LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
					AUTHOR LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				or
					CONTENT LIKE CONCAT(CONCAT('%', #{pd.keywords}),'%')
				)
			</if>
			<if test="pd.lastEditStart!=null and pd.lastEditStart!=''">	<!-- 最后编辑时间检索 -->
				and LAST_EDIT &gt;= #{pd.lastEditStart}
			</if>
			<if test="pd.lastEditEnd!=null and pd.lastEditEnd!=''">		<!-- 最后编辑时间检索 -->
				and LAST_EDIT &lt;= #{pd.lastEditEnd}
			</if>
		order by LAST_EDIT desc
	</select>

	<!-- 列出某分类下的最近时间的 n 篇文章 -->
	<select id="articlelistByLimit"  parameterType="page" resultType="pd" >
		select
		<include refid="Field"></include>
		from
		<include refid="tableName"></include>
		where
			CATEGORY = #{pd.CATEGORY}
		order by LAST_EDIT desc LIMIT #{pd.limit}
	</select>

	<!-- 新增文章 -->
	<insert id="saveArticle" parameterType="pd" >
		insert into <include refid="tableName"></include> (
			<include refid="Field"></include>
		) values (
			<include refid="FieldValue"></include>
		)
	</insert>
	
	<!-- 修改文章 -->
	<update id="editArticle" parameterType="pd" >
		update  <include refid="tableName"></include>
			set CATEGORY 			= #{CATEGORY},
                AUTHOR 				= #{AUTHOR},
                TITLE				= #{TITLE},
                CONTENT				= #{CONTENT},
                LAST_EDIT			= #{LAST_EDIT},
                STATUS				= #{STATUS}
			where
				ARTICLE_ID = #{ARTICLE_ID}
	</update>
	
	<!-- 删除文章 -->
	<delete id="deleteArticle" parameterType="pd" flushCache="false">
		delete from <include refid="tableName"></include>
		where
            ARTICLE_ID = #{ARTICLE_ID}
	</delete>
	
	<!-- 批量删除文章 -->
	<delete id="deleteAllArticles" parameterType="String" >
		delete from <include refid="tableName"></include>
		where 
			ARTICLE_ID in
  			 <foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                  #{item}
             </foreach>
	</delete>
	
	<!-- 文章列表(全部) -->
	<select id="listAllArticles" parameterType="pd" resultType="pd" >
        select <include refid="Field"></include> from
        from <include refid="tableName"></include>
	</select>
	
	<!-- 获取总数 -->
	<select id="getArticleCount" parameterType="String" resultType="pd">
		select 
			count(ARTICLE_ID) articleCount
		from 
		<include refid="tableName"></include>
	</select>
	
</mapper>